
.container-text-card{
    display: grid;
    grid-template-columns: 30% 69%;
    gap: 10px;
}

@media (max-width: 480px) {
    .container-text-card {
        display: flex;
        flex-direction: column;
    }
  }